//
// buttons
// --------------------

.btn {
  &.btn-newsletter {
    background-color: $footer-button-color;
    border-radius: 50% !important;
    color: $c-white;
    height: 35px;
    left: -39px;
    padding: unset;
    position: relative;
    top: 5px;
    width: 35px;
    z-index: 99 !important;
  }

  &.btn-fale {
    background-color: $footer-button-color;
    border-radius: 19px !important;
    // color: $c-white;
    padding-bottom: 11px !important;
    padding-top: 11px !important;
    max-width: 195px;
    width: 100%;
    z-index: 99 !important;
  }

  &.btn-more-news {
    background-color: $c-blue-dark;
    border-radius: 0;
    color: $c-white;
    font-family: $font-ws;
    font-size: 21px;
    font-weight: 500;
    padding: 29px 0;
    width: 100%;
  }

  &.btn-square {
    color: $c-blue-dark;
    font-size: 13px;
    font-weight: 700;
    padding: 12px;
    position: relative;

    i {
      margin-left: 6px;
    }

    &:after {
      background-color: $c-blue;
      content: '';
      display: block;
      height: 40px;
      left: 0;
      position: absolute;
      top: 0;
      z-index: -1;
      width: 40px;
    }

    &-leak {
      &:after {
        background-color: transparent;
        border: solid 1px $c-blue;

      }
    }
  }
}
