//
// colors
// --------------------

$main-bg-color   : #FFF;
$header-bg-color : #000;

//basics
$c-white : #fff;
$c-black : #000;
$c-blue: #3C82B9;
$c-blue-medium : #3C82B9;
$c-blue-dark : #0F314B;
$c-blue-light : #98C7EB;
$c-gray : #F7F7F7;
$c-gray2 : #9FACB7;
$c-gray3 : #707070;
$c-gray4 : #BCBDC1;

//layout
$header-secondary-bg-color : #053A64;
$header-button-color: #3C82B9;
$header-megamenu-link-color: #053A64;
$header-megamenu-sublink-color: #3C82B9;
$header-megamenu-border-color: #CCCCCC;
$header-submenu-bg-color: #0F314B;

$footer-bg-color: #0F314B;
$footer-aux-color: #123652;
$footer-input-color: #1D4A6D;
$footer-button-color: #3C82B9;
$footer-social-color: #3C82B9;
$footer-border-color: #204867;
$footer-sep-color: #17405F;

// default bootstrap variables
$grid-float-breakpoint: 768px;
$grid-gutter-width: 30px;
$navbar-height: 50px;
$zindex-navbar-fixed: 1030;

// module variables
$navbar_secondary--height: 50px !default;
$navbar_secondary--z-index: $zindex-navbar-fixed - 1;
$navbar_secondary--padding-uncollapsed: 0; // $grid-gutter-width
