$main-bg-color   : #ffff00;
$header-bg-color : #000;

//basics
$c-white : #fff;
$c-black : #000;

//layout
$footer-bg-color: #0F314B;
$footer-aux-color: #123652;
$footer-input-color: #1D4A6D;
$footer-button-color: #3C82B9;
$footer-social-color: #3C82B9;
$footer-border-color: #204867;
$footer-sep-color: #17405F;
