//
// form
// --------------------

.form-control {
  &--footer {
    background-color: rgba($footer-input-color, .21);
    border-color: rgba($footer-input-color, .21);
    border-radius: 33px !important;
    color: $c-white;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    max-width: 384px;

    &:focus {
      background-color: $footer-input-color;
    }

    &::-webkit-input-placeholder {
      color: rgba($c-white, .33) !important;
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }

    &::-moz-placeholder {
      color: rgba($c-white, .33) !important;
      font-size: 12px;
      font-style: italic;
      text-align: center;
    }
  }
}
