//
// header
// --------------------

header {
  background-color: $c-white !important;

  .navbar-default {
    background-color: $header-bg-color;
  }

  &.header-blc {

    .header-blc__megamenu {
      position: absolute;
      top: 0;

      .dropdown-menu div[class*="col"] {
        margin-bottom: 1rem;
      }

      .dropdown-menu {
        border:none;
        background-color:#0060c8!important;
      }
    }

    .navbar {
      .navbar-toggler {
        border: 0;

        &-icon {
          background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='#0F314B' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
        }
      }

      &-primary {
        background-color: $c-white !important;
        padding-bottom: 19px;
        padding-top: 18px;

        .navbar-brand {
          padding: 0;
          z-index: 110;

          img {
            max-width: 180px;
          }
        }

        .navbar-nav {
          margin-right: 19px;

          li {
            display: flex;
            align-items: center;

            @media (min-width: 992px) {
              &:nth-child(3) {
                margin-right: 20px;
              }

              &.nav-item--sep {
                position: relative;
                padding: 0 15px;

                .nav-link--arrow {
                  padding-left: 0;
                  padding-right: 0;
                }

                &:after {
                  border-left: solid 1px rgba($c-blue, .04);
                  content: '';
                  display: block;
                  height: 25px;
                  position: absolute;
                  right: 0;
                }
              }
            }

            @media (min-width: 1200px) {
              &.nav-item--sep {
                padding: 0 25px;
              }
            }

            a {
              color: $c-blue-dark !important;
              font-weight: 600;
              font-size: 14px;
              line-height: 16px;

              @media (min-width: 992px) {
                font-size: 12px;
              }

              @media (min-width: 1200px) {
                font-size: 14px;
               }

              & > img {
                max-width: 24px;
              }

              &.nav-link--arrow {}

              &.nav-link--icon {
                position: relative;
                z-index: 110;
              }
            }
          }
        }

        .navbar-collapse {
          margin-top: 20px;

          @media (min-width: 992px) {
            margin-top: 0;
          }
        }

        &__search {
          padding: 0 30px;
          position: relative;
          z-index: 110;

          &:before {
            border-right: solid 1px rgba($c-blue, .04);
            content: '';
            display: block;
            height: 25px;
            position: absolute;
            left: 0;
            top: 0;
          }

          &:after {
            border-left: solid 1px rgba($c-blue, .04);
            content: '';
            display: block;
            height: 25px;
            position: absolute;
            right: 0;
            top: 0;
          }

          img {
            max-width: 24px;
            height: 24px;
          }
        }

        .dropdown {
          margin-top: 10px;
          position: relative;
          z-index: 110;

          @media (min-width: 1200px) {
            margin-top: 0;
          }

          button {
            appearance: none;
            align-items: center;
            background-color: $c-white;
            border: solid 1px $c-blue;
            border-radius: 19px;
            color: $c-blue;
            display: flex;
            font-family: $font-ws;
            font-size: 14px;
            font-weight: 500;
            justify-content: center;
            padding: 5px 0;
            width: 110px;

            @media (min-width: 1200px) {
              font-size: 16px;
              margin-left: 18px;
            }
          }
        }
      }

      &-secondary {
        background-color: $header-secondary-bg-color;
        padding-bottom: 0;
        padding-top: 0;
        // min-height: $navbar_secondary--height;

        // &.navbar-fixed-top {
        //   z-index: $navbar_secondary--z-index;
        //   top: $navbar-height;
        // }

        // @media (min-width: $grid-float-breakpoint) {
        //   padding: $navbar_secondary--padding-uncollapsed;

        //   .navbar-collapse {
        //     padding-right: 0;
        //     padding-left: 0;
        //   }
        // }

        .navbar-nav {
          justify-items: center;
          width: 100%;

          li {
            display: flex;
            align-items: center;
            width: 100%;

            @media (min-width: 992px) {
              justify-content: center;
            }

            @media (min-width: 1200px) {
              justify-content: flex-start;
            }

            &.active {
              a {
                color: $c-white;
              }
            }

            a {
              color: $c-white;
              border-bottom: solid 3px transparent;
              font-weight: 600;
              font-size: 12px;
              line-height: 16px;
              padding-bottom: 21px;
              padding-top: 25px;

              @media (min-width: 1200px) {
                font-size: 14px;
              }

              &:hover {
                color: $c-white;
                border-bottom: solid 3px $c-blue;
              }

              &.nav-link--button {
                align-items:center;
                background-color: $header-button-color;
                border: 0;
                border-radius: 30px;
                display: flex;
                justify-content: space-around;
                max-width: 195px;
                padding-bottom: 9px;
                padding-top: 9px;
                text-align: center;
                width: 100%;

                img {
                  max-width: 18px;
                }
              }
            }

            &.dropdown {
              position: inherit;

              .dropdown-menu {
                border: 1px solid red;
                background-color: $header-submenu-bg-color;
                border: 0;
                border-radius: 0;
                margin: 0;
                padding-bottom: 30px;
                padding-top: 40px;
                width: 100%;

                a {
                  border: 0;
                  padding-bottom: 12px;
                  padding-top: 0;

                  &:hover {
                    background-color: transparent;
                    border: 0;
                    text-decoration: underline;
                  }
                }
              }
            }

            &.dropdown--megamenu {
              display: none;

              @media (min-width: 1200px) {
                display: block;
                left: 0;
                position: absolute;
                top: -110px;
                z-index: 100;
                width: 75px;

                .dropdown-menu {
                  padding-top: 0;
                }

                .dropdown-toggle {
                  background-color: $c-blue;
                  height: 110px;
                  font-family: $font-ws;
                  font-size: 9px;
                  padding-top: 52px;
                  text-align: center;
                  position: relative;
                  width: 70px;

                  &:after {
                    display: none;
                  }

                  .hamburger {
                    top: 40px;
                    left: 0;
                    width: 17px;
                    height: 2.5px;
                    background: #fff;
                    border-radius: 2px;
                    position: absolute;
                    transition: 0.5s;

                    &:before {
                      left: 0;
                      top: -6px;
                    }

                    &:after {
                      left: 0;
                      top: 6px;
                    }
                  }

                  .icon-three {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 21px;
                    height: 55px;
                    cursor: pointer;
                    right: 0;
                    margin: 0 auto;
                  }

                  .hamburger-three:before,
                  .hamburger-three:after {
                    content: '';
                    position:absolute;
                    width: 21px;
                    height: 2.5px;
                    background:#fff;
                    border-radius: 2px;
                    transition:0.5s;
                  }

                  .icon-three.active-three .hamburger-three:before {
                    top: 0;
                    transform:rotate(135deg);
                  }

                  .icon-three.active-three .hamburger-three:after {
                    top: 0;
                    transform:rotate(225deg);
                  }
                }
              }
            }

            .dropdown-menumega {

              .nav-item {

                a {
                  border: 0;
                  font-size: 16px;
                  padding-bottom: 0.5rem;
                  padding-left: 10px;
                  padding-top: 0.5rem;
                }

                &--collapse {
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;

                  .nav-link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:after {
                      content: '';
                      border-left: 3px solid transparent;
                      border-right: 3px solid transparent;
                      border-top: 3px solid $header-megamenu-link-color;
                      height: 0;
                      position: absolute;
                      right: -5px;
                      width: 0;
                    }
                  }

                  .dropdown-item {
                    color: $header-megamenu-sublink-color;
                    font-size: 13px;
                    font-weight: 400;
                    padding-bottom: 3px;
                    padding-top: 3px;

                    &:hover {
                      color: $header-megamenu-sublink-color;
                    }
                  }

                  .collapse,
                  .collapsing {
                    margin: 0;
                    padding: 0;
                  }
                }
              }
            }
          }
        }

        &.navbar .dropdown-menumega div[class*="col-md-4"] {
          padding-top: 130px;
        }

        &.navbar .dropdown-menumega div[class*="col-12"] {
          padding-top: 45px;
        }

        &.navbar .dropdown-menumega {
          border: none;
        }

        /* breakpoint and up - mega dropdown styles */
        @media screen and (min-width: 992px) {

          /* remove the padding from the navbar so the dropdown hover state is not broken */
          // &.navbar {
          //   padding-top:0px;
          //   padding-bottom:0px;
          // }

          /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
          // &.navbar .nav-item {
          //   padding:.5rem .5rem;
          //   margin:0 .25rem;
          // }

          /* makes the dropdown full width  */
          .dropdown--megamenu {
            position: static;
          }

          .dropdown-menumega {
            background-color: transparent!important;
            border-radius: 0;
            left:0;
            margin: 0;
            right:0; /*  height of nav-item  */
            top:0;
            width:100%;
            z-index: -1;
            position: fixed;

            &.show {
              background-color: $c-white!important;

              &::before {
                background-color: $c-blue;
                content: '';
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 70px;
              }
            }

            h5 {
              border-top: solid 2px transparent;
              color: $c-blue-dark;
              font-family: $font-raleway;
              font-size: 18px;
              font-weight: 700;
              line-height: 22px;
              margin-bottom: 30px;
              padding-left: 10px;
              padding-top: 8px;
              width: 60%;

              &.active,
              &:hover {
                border-top: solid 2px $c-blue;
                color: $c-blue;
              }
            }

            ul.nav {
              li {
                a {
                  color: $header-megamenu-link-color;

                  &:hover {
                    color: $header-megamenu-link-color;
                  }
                }
              }
            }

           &__bottomlinks {
             align-items: center;
              border-top: solid 1px rgba($header-megamenu-border-color, .3);
              display: flex;
              padding-bottom: 25px;
              padding-top: 34px;
              margin: 0;

              li {
                align-items: flex-start;
                flex-direction: row;

                a {
                  border: 0;
                  color: $header-megamenu-sublink-color;
                  font-family: $font-ws;
                  font-size: 16px;
                  font-weight: 600;
                  padding: 0;
                  text-decoration: none;

                  &:hover {
                    border: 0;
                    color: $header-megamenu-sublink-color;
                  }

                  &.btn-fale {
                    color: $c-white;
                  }
                }
              }
            }
          }

          /* shows the dropdown menu on hover */
          // &.navbar-secondary .dropdown:hover .dropdown-menu,
          // &.navbar-secondary .dropdown .dropdown-menu:hover {
          //   display:block!important;
          // }

          // &.navbar-secondary .dropdown-menu {
          //   border: 1px solid rgba(0,0,0,.15);
          //   background-color: #fff;
          // }
        }
      }
    }
  }
}
