//
// slider home
// --------------------

.mc-highlights {

  .carousel {
    height: 140px;

    &-nav {
      background-color: $c-blue;
      width: 220px;
    }

    &-inner {
      background-color: $c-blue-medium;
      height: 140px;

      & > .carousel-item {
        &-prev,
        &-next,
        &.active {
          display: flex;
        }

      }
    }
  }
}
