//
// highlights home
// --------------------

.mc-highlights {
  margin-top: -140px;
  position: absolute;
  z-index: 10;
  width: 100%;

  .carousel {

    &-nav {
      background-color: $c-blue;
      box-shadow: 0 0 50px rgba(#000000, .16);
      height: 33px;
      position: relative;
      z-index: 1;
      width: 220px;

      span {
        color: $c-white;
        font-size: 14px;
        font-weight: 800;
        text-align: center;
        width: 100%;
      }

      a {
        align-items: center;
        background-color: $c-white;
        border: 0;
        border-radius: 0;
        display: flex;
        height: 33px;
        justify-content: center;
        width: 35px;

        &:hover,
        &:focus,
        &:active {
          background-color: $c-white;
          border: 0;
        }

        i {
          color: $c-blue;
          font-size: 10px;
        }
      }

    }

    &-inner {
      background-color: $c-blue-medium;
      height: 140px;

      & > .carousel-item {
        &-prev,
        &-next,
        &.active {
          display: flex;
        }
      }
    }

    &-item {
      p, span, a {
        color: $c-white;
      }

      &__header {
        margin-bottom: 6px;
        margin-right: auto;

        .date {
          color: $c-blue-light;
          font-size: 13px;
          font-weight: 600;
        }

        .label {
          background-color: $c-blue-light;
          border-radius: 16px;
          font-size: 10px;
          font-weight: 600;
          padding: 5px 13px;
        }
      }

      &__body {
        p {
          font-size: 14px;
          font-weight: 700;
          line-height: 16px;
          margin-bottom: 5px;
        }
      }

      &__footer {
        align-items: center;
        border-top: solid 1px $c-blue-light;
        display: flex;
        width: 100%;

        a {
          color: $c-white;
          font-size: 12px;
          font-style: italic;
          margin-top: 5px;

          i {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

//
// highlights tabs home
// --------------------

.mc-highlights-tabs {
  padding-bottom: 80px;
  padding-top: 110px;

  .tab-pane {
    img {
      width: 100%;
    }

    h2 {
      font-size: 30px;
    }

    h4,
    p {
      line-height: 24px;
    }

    h4 {
      color: $c-blue-dark;
      font-family: $font-playfair;
      font-size: 17px;
      font-style: italic;
    }

    p {
      color: $c-gray3;
      font-size: 15px;
      font-weight: 500;
      padding-bottom: 45px;
      margin-top: 28px;
    }

    a {
      color: $c-blue-dark;
      font-size: 15px;
      font-weight: 600;
      padding: 15px;
      position: relative;

      i {
        margin-left: 6px;
      }

      &:after {
        background-color: $c-blue;
        content: '';
        display: block;
        height: 50px;
        position: absolute;
        top: 0;
        z-index: -1;
        width: 50px;
      }
    }
  }

  .nav-tabs {
    border-bottom: 0;
    border-top: solid 2px rgba($c-blue, .1);
    flex-wrap: unset;
    justify-content: space-between;
    margin-top: 100px;

    .nav-link {
      border: solid 2px transparent;
      border-radius: 0;
      color: $c-blue-dark;
      font-size: 14px;
      font-weight: 600;
      margin-top: -2px;
      padding-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 25px;

      &.active,
      &:hover {
        border-color: $c-blue;
        border-bottom: 0;
        border-left: 0;
        border-right: 0;
        border-width: 2px;
      }
    }
  }
}

