.mc-sidenav {
  width: auto;
  height: auto;
  margin-left: 0px;
  position: sticky;
  top: 0;
  z-index: 1;

  &--wrapper {
    position: sticky;
    top: 0;
  }
}

.mc-sidenav a {
  text-decoration: none;
}

.mc-sidenav li {
  text-align: justify;
  padding: 0.5rem;
  padding-left: 1rem;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #000;
  border: 1px solid #333;
}

.mc-sidenav li a {
  color: #fff;
}

.mc-sidenav li a:active {
  border-color: #02d3f5;
}

.mc-sidenav li:hover {
  border-radius: 0 0.5rem 0.5rem 0;
  border-color: #02d3f5;
  -webkit-transform: translate(30px, 0px);
  transform: translate(30px, 0px);
  background: -webkit-linear-gradient(left, #006a7b, #002340);
  background: linear-gradient(to right, #006a7b, #002340);
}

.mc-sidenav li:active {
  border-color: #02d3f5;
}
