//
// titles
// --------------------

h2, .main-title {
  color: $c-blue-dark;
  font-size: 33px;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;

  &:after {
    background-color: $c-blue;
    content: '';
    display: block;
    height: 4px;
    margin-top: 10px;
    width: 70px;
  }

  &--space30 {
    margin-bottom: 30px;
  }

  &--white {
    color: $c-white;
  }
}

h3, .main-subtitle {
  color: $c-blue;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;

  &--gray {
    color: $c-gray3;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
  }
}
