//
// import stylesheets
// --------------------

@import "../../node_modules/bootstrap/dist/css/bootstrap.css";
// @import "../../node_modules/bootstrap/dist/css/bootstrap-theme.css";
// @import "scss/fontawesome";
@import "_colors";
@import "_fonts";
@import "_form";
@import "_buttons";
@import "_titles";
@import "_carousel";
@import "_breadcrumb";
@import "_tags";
@import "_pagination";
@import "_map";

@import "_header";
@import "_footer";
@import "_slider";
@import "_highlights";
@import "_news";
@import "_ourpresence";
@import "_activities";
@import "_single";
@import "_library";
@import "_talkus";


//
// geral
// --------------------

body {
  background-color: $main-bg-color;
  font-family: $font-raleway;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: responsive;
}

main {
  padding-bottom: 130px;
}

// REMOVER

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }
